/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html {
    background-color: lightsteelblue;
    background-image: url('../images/bgtile.jpg');
    background-attachment: fixed;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 100%;
    max-width: 1200px;
    width: 100%;
    box-shadow: 5px 10px 20px 7px black;
    margin: 0 auto;
    border: 4px solid steelblue;
}

header {
    background-image: linear-gradient(white, lightsteelblue);
    border-bottom: solid steelblue;
}

#logoimage {
    float: left;
    margin: 0 15px;
}

header h2 {
    font-size: 300%;
    color: steelblue;
    font-style: italic;
    text-shadow: 5px 5px 12px;
    margin-top: 20px;
}

/* Horizontal flexbox navigation menu */
#nav_menu {
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    list-style: none;
    background-color: steelblue;
    border-bottom: 3px solid steelblue;
    position: relative;
}
.container li {
    flex: 1;
}
.container li a {
    display: block;
    padding: .75em 1em;
    text-decoration: none;
    color: white;
    background-color: steelblue;
    font-weight: bold;
    transition: all .5s;
}
.container li a:hover {
    background-color: lightsteelblue;
    color:#000000;
}
.container ul {
    display: none;
    width: 20%;
    list-style: none;
    position: absolute;
    top: 100%;
    box-shadow: 7px 7px 15px -1px gray;
}
.container ul li {
    flex-direction: column;
}
.container ul li a {
    text-align: left;
    padding-left: 1em;
}
.container li:hover > ul {
    display: block;
}

/* Navigation list */
#nav_list h2 {
    margin-bottom: 5px;
    text-align: center;
}
#nav_list ul {
    list-style: none;
}
#nav_list ul li {
    width: 90%;
    margin: 0 auto .5em;
}
#nav_list ul li a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: .5em 0 .5em .5em;
    color: black;
}
#nav_list ul li a:hover {
    color: white;
    background-color: steelblue;
}

/* Main elements */
main {
    padding: 0;
}

/* aside style */
aside{
    width: 30%;
    padding: 0.5em;
}
aside h2 {
    margin-bottom: 12px;
    color: maroon;
}
aside a:link, aside a:visited {
    color: steelblue;
}
aside a:hover, aside a:active {
    color: maroon;
}
aside li {
    font-weight: bold;
    line-height: 25px;
}

/* main section style */
section {
    width: 40%;
    float: left;
    padding-top: 10px;
    padding-right: 20px;
}
section a:link, section a:visited {
    color: maroon;
}
section a:hover, marginsection a:active {
    color: steelblue;
}
section p {
    margin: 0 2em 1.5em;
}
section h3 {
    margin-bottom: 5px;
}
section h3::after {
    clear: both;
}
.under_construction {
    display: block;
    margin: 3em auto;
    width: 30%;
} 

.icon {
    float: left;
    margin-right: .5em;
    max-width: 25px;
}

/* left aside style */
#left_aside {
    float: left;
}

/* right aside style */
#right_aside {
    float: right;
}

article {
    display: flex;
    flex-direction: column;
}
article > img {
    margin: 1em 2em;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px darkslategray;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 300%;
    color: lightsteelblue;
    text-align: center;
    margin: 10px 0 0;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000, 1px -1px 2px #000000, -1px 1px 2px #000000;
}
h1, h2, h3, p, blockquote {
    margin-bottom: 12px;
}

blockquote {
    width: 80%;
    font-style: italic;
    padding: 0.5em;
    border-left: 3px solid steelblue;
    background-color: #eeeeee;
    border-radius: 5px;
    margin: 1em auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

h3 {
    font-size: 150%;
}

/* Footer style */
footer {
    clear: both;
    background-color: steelblue;
    padding: 1% 0;
}
footer p {
    color: white;
    font-size: 85%;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin: 0;
}

/* Hide the mobile menu */
#mobilemenu {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    html {
        background-image: none;
    }
    body {
        border: none;
        box-shadow: none;
        font-size: 90%;
    }
    #left_aside {
        display: none;
    }
    section {
        width: 70%;
        padding: 1em;
    }
  }

@media only screen and (max-width: 767px) {
    #nav_menu {
        display: none;
    }
    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: steelblue !important;
    }
    .slicknav_btn {
        background-color: steelblue !important;
    }
    header h2 {
        font-size: 200%;
    }
    section, aside {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding: .5em;
    }
    #logoimage {
        float: none;
        padding: .5em;
        display: block;
        margin: 0 auto;
    }
    header h2, header h3 {
        text-align: center;
    }

    main h1 {
        font-size: 200%;
    }
  }

